/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color : #e1e1ec;
}
.buttondelete{
	
	-fx-background-color: transparent;
	-fx-opacity: 0.0 ;
}
#imgView{
	
}

#buttonStart{
	
	
	
	
	
}